.navbar {
    background: linear-gradient(90deg, rgba(55,0,179,1) 0%, rgba(98,0,238,1) 100%);
}

.nav-item ::deep .nav-link,
.mainButton ::deep .mainButtonNav {
    color: white;
    border-radius: 6px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    width: 100%;
}

    .nav-item ::deep .nav-link:hover,
    .mainButton ::deep .mainButtonNav:hover {
        background-color: #018786;
    }

    .nav-item ::deep .nav-link.active {
        background-color: #b182e3;
    }

.mainButton ::deep .mainButtonNav {
    background-color: #BB86FC;
}

.mainButton {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
