@page "/Transfer"

<div class="d-flex flex-column align-items-center w-100">
    <h3 class="mb-4">Transfer funds</h3>
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <div class="mb-4">
                <h6 class="card-title">From</h6>
                <Dropdown TItem="string" Class="w-100">
                    <InitialTip>Select account</InitialTip>
                    <ChildContent>
                        @foreach (var item in Items)
                        {
                            <DropdownListItem TItem="DropdownItem" Item="@item">@item.Text</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>
            </div>
            <div class="mb-4">
                <h6 class="card-title">To</h6>
                <Dropdown TItem="string" Class="w-100">
                    <InitialTip>Select account</InitialTip>
                    <ChildContent>
                        @foreach (var item in Items)
                        {
                            <DropdownListItem TItem="DropdownItem" Item="@item">@item.Text</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>
            </div>

            <div class="form-group mb-4">
                <label for="AmountToTransfer">AmountToTransfer</label>
                <input type="AmountToTransfer" id="AmountToTransfer" class="form-control border border-dark" @bind="AmountToTransfer" />
            </div>

            <div class="form-group mb-4">
                <label for="Note">Note</label>
                <input type="Note" id="Note" class="form-control border border-dark" @bind="Note" />
            </div>

            <div class="form-group mb-4">
                <button class="btn btn-primary w-100" @onclick="HandleTransfer">Transfer funds</button>
            </div>
            
        </div>
    </div>
</div>
@code {
    private static List<DropdownItem> Items = new List<DropdownItem>
    {
        new DropdownItem("Main account", 1) ,
        new DropdownItem("Secondary account", 2) ,
        new DropdownItem("Savings account", 3) ,
    };

    private double AmountToTransfer { get; set; }
    private string Note { get; set; }

    private async void HandleTransfer()
    {
        //add api call
    }
}